<h1>New bookshelf</h1>

<% form_for(@bookshelf) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :read_count %><br />
    <%= f.text_field :read_count %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bookshelves_path %>