<h2>Add a photo</h2>

<% form_for @user, :html => {:multipart => true} do |f| %>
  <%= f.label :avatar, "Image"%> : <%= f.file_field :avatar %></p>
  <%= f.submit "Upload" %>
<% end %>

<!--
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :encrypted_password %><br />
    <%= f.text_field :encrypted_password %>
  </p>
  <p>
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
-->    